<odoo>
    <menuitem id="menu_localiza_bodega_panel_principal" name="Panel Principal" parent="localiza_bodega_operativa.menu_localiza_root" action="action_localiza_bodega_dashboard_unificado" sequence="1"/>
    <menuitem id="menu_localiza_forms_v2_root" name="Formularios y Controles" parent="localiza_bodega_operativa.menu_localiza_root" sequence="15"/>
    <menuitem id="menu_localiza_forms_v2_panel" name="Panel de Formularios" parent="menu_localiza_forms_v2_root" action="action_localiza_forms_board" sequence="1"/>
    <menuitem id="menu_localiza_forms_v2_all" name="Todos los Formularios" parent="menu_localiza_forms_v2_root" action="action_localiza_forms_operation" sequence="5"/>
    <menuitem id="menu_localiza_forms_v2_entrega" name="Entrega desde Bodega" parent="menu_localiza_forms_v2_root" action="action_localiza_forms_entrega" sequence="10"/>
    <menuitem id="menu_localiza_forms_v2_instalacion" name="Instalación en Puesto" parent="menu_localiza_forms_v2_root" action="action_localiza_forms_instalacion" sequence="20"/>
    <menuitem id="menu_localiza_forms_v2_inventario" name="Inventario de Puesto" parent="menu_localiza_forms_v2_root" action="action_localiza_forms_inventario" sequence="30"/>
    <menuitem id="menu_localiza_forms_v2_prestamo" name="Préstamo de Herramientas" parent="menu_localiza_forms_v2_root" action="action_localiza_forms_prestamo" sequence="40"/>
    <menuitem id="menu_localiza_forms_v2_config" name="Configuración Operativa" parent="menu_localiza_forms_v2_root" sequence="90"/>
    <menuitem id="menu_localiza_forms_v2_sections" name="Secciones" parent="menu_localiza_forms_v2_config" action="action_localiza_forms_section" sequence="10"/>
    <menuitem id="menu_localiza_forms_v2_import" name="Importar Formularios" parent="menu_localiza_forms_v2_config" action="action_localiza_forms_import" sequence="20"/>
</odoo>
